ul.nav-tabs{
	margin: 0 -15px 20px -15px;
}

.prod_image_container{
	text-align: center;
	position: relative;
}

.product_image_remove{
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 20px;
	color: #999999;
}

.price-input{
	margin-bottom: 15px;
}

.product_row{
	cursor: pointer;
}

.product_row:hover{
	background-color: #d9edf7 !important;
}

.quick_edit_controls_wrapper{
	position: relative;
}

.quick_edit_controls{
	display: none;
	position: absolute;
	right: 10px;
}

.product_row:hover .quick_edit_controls{
	display: block;
}

.btn-stock{
	width: 100% !important;
}

.label-stock{
	text-shadow: none !important;
}

.product_list_menu ul{
	padding: 0 !important;
}

.product_list_menu ul li{
	display: inline;
}