<ng-form name="general">
    <div class="form-group" ng-class="{ 'has-error' : submitted && productForm.title.$invalid }">
      <div class="col-md-8">
        <input name="title" type="text" class="form-control input-lg" data-ng-model="products.product_title" id="title" placeholder="Product Title" required>
        <div ng-show="submitted && productForm.title.$invalid" class="help-block">
          <p ng-show="productForm.title.$error.required">Title is required</p>
        </div>
       </div>
       <div class="col-md-4">
       <div class="btn-group btn-stock" uib-dropdown is-open="status.isopen">
          <button id="stock-button" type="button" class="btn btn-lg btn-stock" ng-class="products.stock=='In Stock' ? 'btn-success' : 'btn-danger'" uib-dropdown-toggle>
            {{products.stock}}
          </button>
          <ul class="uib-dropdown-menu" role="menu" aria-labelledby="stock-button">
            <li>
              <a ng-click="setAction(products.stock)">{{products.stock=='In Stock' ? 'Out of Stock' : 'In Stock';}}</a>
            </li>
          </ul>
        </div>
       </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && productForm.content.$invalid }">
      <div class="col-md-12">
        <textarea name="content" data-ng-model="products.product_content" id="content" rows="5" placeholder="Content" class="form-control input-lg" required></textarea>
        <div ng-show="submitted && productForm.content.$invalid" class="help-block">
          <p ng-show="productForm.content.$error.required">Content is required</p>
        </div>
      </div>
    </div>

    <div class="form-group">
        <div class="col-md-4" ng-class="{ 'has-error' : submitted && productForm.price.$invalid }">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input name="price" type="text" class="form-control input-lg" data-ng-model="products.product_price" id="price" placeholder="Regular Price" required>
            </div>  
            <div ng-show="submitted && productForm.price.$invalid" class="help-block">
              <p ng-show="productForm.price.$error.required">Price is required</p>
            </div>
        </div>
         <div class="col-md-4" ng-class="{ 'has-error' : submitted && productForm.sku.$invalid }">
              <input name="sku" type="text" class="form-control input-lg" data-ng-model="products.product_sku" id="sku" placeholder="SKU"> 
            <div ng-show="submitted && productForm.sku.$invalid" class="help-block">
              <p ng-show="productForm.sku.$error.required">sku is required</p>
            </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default btn-lg" ng-hide="products.picFile" style="width:100%" ngf-select="uploadFiles($file, $invalidFiles)" ng-model="products.picFile" name="file" 
  accept="image/*" ngf-max-size="20MB" ngf-min-height="100" 
  ngf-resize="{width: 200, height: 200}">Select Image</button>
        <img ng-show="products.picFile" ngf-thumbnail="products.picFile" class="thumb"> 
        <a href="#" class="product_image_remove" ng-click="products.picFile = null" ng-show="products.picFile"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && productForm.tags.$invalid }">
      <div class="col-md-12">
        <input name="tags" type="text" class="form-control input-lg" data-ng-model="products.product_tags" id="tags" placeholder="Product Tags">
        <div ng-show="submitted && productForm.tags.$invalid" class="help-block">
          <p ng-show="productForm.tags.$error.required">Tags is required</p>
        </div>
       </div> 
    </div>
</ng-form>